<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QUESTIONS</title>
  </head>
  <body style="background-color: azure">
    <center>
      <h1>TEST STARTED</h1>
      <h2>MAX MARKS : 20</h2>
      <h2>PASSING PERCENTAGE : 70%</h2>
      <h2>+4 FOR EACH CORRECT ANSWER , -1 NEGATIVE MARKING</h2>
    </center>

    <form method="GET" action="/processresult">
      <pre>
        QUESTION 1: WHO DEVELOPED PYTHON?
        <input type="radio" name="q1" value="1"  id="q101">Wick van rossum
        <input type="radio" name="q1" value="2" id="q102">Rasmus Lerdorf
        <input type="radio" name="q1" value="3" id="q103">Guido van Rossum
        <input type="radio" name="q1" value="4" id="q104">Niene Stom

        QUESTION 2: Which type of Programming does Python support?
        <input type="radio" name="q2" value="1"  id="q201">object-oriented programming
        <input type="radio" name="q2" value="2" id="q202">structured programming
        <input type="radio" name="q2" value="3" id="q203">functional programming
        <input type="radio" name="q2" value="4" id="q204">all of the mentioned

        QUESTION 3: Is Python case sensitive when dealing with identifiers?
        <input type="radio" name="q3" value="1"  id="q301">no
        <input type="radio" name="q3" value="2" id="q302">YES
        <input type="radio" name="q3" value="3" id="q303">machine dependent 
        <input type="radio" name="q3" value="4" id="q304">none

        QUESTION 4: Which of the following is the correct extension of the Python file?
        <input type="radio" name="q4" value="1"  id="q401">.pyc
        <input type="radio" name="q4" value="2" id="q402">.py
        <input type="radio" name="q4" value="3" id="q403">.python 
        <input type="radio" name="q4" value="4" id="q404">none

        QUESTION 5: Is Python code compiled or interpreted?' 
        <input type="radio" name="q5" value="1"  id="q501">Both Compiled as well as interpreted
        <input type="radio" name="q5" value="2" id="q502">Neither compiled nor interpreted
        <input type="radio" name="q5" value="3" id="q503">Only Compiled
        <input type="radio" name="q5" value="4" id="q504">Only Interpreted

        <input type="submit" value="submit test">
        </pre>
    </form>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
